.container-fluid {
    width: 100%;
    text-align: center;
    background-color: #FFFECD;
    overflow: auto;
}

body {
    background-color: #FFFECD;
    width: 100%
}

.ordered {
    float: initial;
    padding: 20px;
}

.devoured {
   float: initial;
    padding: 20px;
}


.container-fluid {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%
   
}

