.container-fluid {
    width: 100%;
    text-align: center;
    overflow: auto;
    background-color: #FFFECD;
}

.container-fluid {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #FFFECD;  
}


html {
    background-color: #FFFECD;
}

.container-fluid {
    margin:0px;
    padding: 0px;
    background-color: #FFFECD;
}

div.card {
    background-color: #FFFECD;
    padding: 20px;
    margin: 20px auto;
    border-width: 5px;
    width: 50%;   
}




.menu {
    text-align: center;
    width: 100%;
}

